@use "colors";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

$background: colors.$floral-white;
$text: colors.$davys-grey;
$title: colors.$black;
$logo: colors.$blue-de-france;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: $text;
  background-color: $background;
}

header,
section {
  padding: 45px 120px;
}

footer {
  padding: 30px 120px;
}

header {
  padding-bottom: 0;
}

a {
  text-decoration: none;
  color: $text;
}

h2 {
  font-size: 34px;
  color: $title;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  color: $logo;
}

@media only screen and (max-width: 768px) {
  header,
  section {
    padding: 40px;
  }

  header {
    padding-bottom: 0;
  }

  footer {
    padding: 30px 40px;
  }
}

@media only screen and (max-width: 390px) {
  header,
  section {
    padding: 40px 20px;
  }

  header {
    padding-bottom: 0;
  }

  footer {
    padding: 30px 20px;
  }

  h2 {
    font-size: 32px;
  }
}
